# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SPRING_MAIL_FROM=

# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT Settings
JWT_SECRET=

# Frontend Configuration
FRONTEND_URL=
